/* Page */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 35px 0;
}

/* Gallery */
.gallery {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

figure {
  margin: 0;
  padding: 15px 0;
}

figure img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 5px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

/* Modal */
dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  inset: 0;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

dialog img {
  width: 90%;
  display: block;
  margin: 20vh auto;
  background: white;
}

.close-viewer {
  position: absolute;
  top: 10vh;
  right: 2vh;
  padding: 3px 8px;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
}

/* Responsive Gallery */
@media screen and (min-width: 700px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  figure {
    padding: 0;
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  dialog img {
    width: 60%;
    margin: 15vh auto;
  }

  .close-viewer {
    right: 15vh;
  }

  .viewer {
    margin: 50px;
    padding: 50px;
  }

  .viewer img {
    max-width: 800px;
  }
}
