@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

/* Sections */
section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}

/* NAV (mobile first) */
nav a {
  padding: 12px 16px;
  color: black;
  text-decoration: none;
  display: none; /* hidden on mobile until menu opens */
}

nav a:hover {
  color: #616061;
}

/* show links when nav is opened */
nav.open a {
  display: block;
}

/* Hamburger button */
.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
}

footer {
  text-align: center;
}

/* DESKTOP */
@media screen and (min-width: 700px) {
  /* hide hamburger on desktop */
  .menu-btn {
    display: none;
  }

  /* show nav links on desktop */
  nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  nav a {
    display: inline-block;
    padding: 10px 14px;
  }

  /* 3-column layout for sections */
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  section {
    margin: 0;
  }
}
@media screen and (min-width: 700px) {
  .menu-btn {
    display: none;
  }
}
